<h1 class="title">Run new challenge</h1>

<%= form_tag challenge_create_url do %>
  <% av_players = User.where.not(fav_id: nil).map{|p| p[:username]} %>
  <div class="field">
    <div class="label">
      Player 1
    </div>
    <p class="control">
      <span class="select">
        <%= select(:challenge, :sub1, av_players) %>
      </span>
    </p>
  </div>
  <div class="field">
    <div class="label">
      Player 2
    </div>
    <p class="control">
      <span class="select">
        <%= select(:challenge, :sub2, av_players) %>
      </span>
    </p>
  </div>

  <div class="field">
    <div class="control">
      <%= submit_tag "Submit", class: "button is-link" %>
    </div>
  </div>
<% end %>