<h1 class="title">Правила соревнований</h1>

<div class="section">
    <h2 class="title is-4">Смысл соревнований</h2>
    <p>
    Ваша задача - придумать и реализовать на одном из языков программирования стратегию для игры. Правила игры и протокол взаимодействия описаны во вкладке "Условия".
    </p>
        <br/>
    <p>
    Это необычный контест - здесь нет строго правильных или неправильных решений. Ваши программы будут играть друг против друга. Чем чаще выигрывает ваша программа, тем выше шансы на победу.
    В каждом поединке учавствуют 2 игрока. В конце каждого поединка выявляется победитель.
    </p>

</div>
<div class="section">
    <h2 class="title is-4">Посылки</h2>
    <p>
        Вы можете отправлять код в систему через вкладку "Отослать". После этого система проведёт его первичное тестирование - поединок с решением жюри.
        Вам не будет доступен исход и содержание этого поединка, вы увидете только ваш вердикт. Он может быть следующим:
        <div class="content">
            <ul>
                <li><strong>OK</strong> - решение работает корректно.</li>
                <li><strong>TL</strong> - решение превысило ограничение по времени.</li>
                <li><strong>ML</strong> - решение превысило ограничение по памяти.</li>
                <li><strong>PE</strong> - решение вывело ход в неправильном формате (Или не вывело совсем).</li>
                <li><strong>ME</strong> - решение вывело запрещённый ход. Аккуратно проверяйте, разрешён ли ваш ход правилами. <strong>Этот вердикт, как и все остальные кроме "OK", приводит к техническому поражению в дуэлях и турнирах.</strong></li>
            </ul>
        </div>
        Первичное тестирование позволяет быстро находить ошибки в вашей программе. Пожалуйста, перед тем как играть с другими игроками, проверьте, что ваше решение успешно прошло первичное тестирование.
        Если вы не можете понять причину по которой вы не можете пройти первичное тестирование, обратитесь к преподавателям.
    </p>
</div>

<div class="section">
    <h2 class="title is-4">Дуэли</h2>
    <p>
        На протяжении всего соревнования вы сможете самостоятельно инициировать поединки между посылками, проводя дуэли.
        Для выбора соперников вам доступны <strong>все ваши</strong> посылки и <strong>только открытые</strong> посылки соперников.
        Посылка становится открытой, когда она выбрана для Дуэлей в разделе "Мои посылки".
    </p>
    <br/>
    <p>
        Устраивать дуэли между своими решениями - отличный способ тестирования своих решений. Постарайтесь таких образом найти их слабые места и улучшить свой результат!
    </p>
    <br/>
    <p>
        Чтобы анализировать дуэли, воспользуйтесь визуализатором. Он покажет ход игры прямо в браузере.
    </p>
    <br/>
    <p>
        Мы реккомендуем начать контест с разработки нескольких простых стратегий. Устройте дуэль между ними или с вашими друзьями!
        <br/>
        <em>Have fun!</em>
    <p/>
    <br/>
    <p>
        <strong>Будьте аккуатны! Делая посылку открытой, вы позволяете другим игрокам инициировать дуэли с ней. Возможно, это поможет вашим противникам.</strong>
    </p>
</div>
<div class="section">
    <h2 class="title is-4">Турниры</h2>
    <p>
        4 раза в сутки мы будем проводить турнир по круговой системе (каждый с каждым). Во вкладке "Турниры" будет появляться турнирная таблица. По ней вы сможете оценивать текущую расстановку сил.
    </p>
    <br/>
    <p>
        Используйте ваши самые смелые идеи для турнирных решений. Мы <strong>НЕ</strong> публикуем записи партий турнира (в отличии от записей дуэлей) до окончания сорвнования.
    </p>
    <br/>
    <p>
        <strong>Чтобы учавствовать в турнире, необходимо выбрать во вкладке "Мои посылки" решение, которое будет играть. Мы реккомендуем выбирать решение, которые вы считаете наиболее успешным. </strong>
    </p>
</div>

<div class="section">
    <h2 class="title is-4">Победители</h2>
    <p>
    Когда-нибудь мы проведём последний турнир. Его результаты будут объявлены результатами контеста.<br/>
    <strong>Победители получат призы. Торопитесь!</strong>
    </p>
</div>

<div class="section">
<h2 class="title is-4">Поддерживаемые языки</h2>
    <div class="content">
        <ul>
            <li>GNU G++17 v.7.3.0</li>
            <li>Python v.3.7.3</li>
            <li>Нет твоего любимого языка? Напиши нам!</li>
        </ul>
    </div>
</div>
<div class="section">
    <h2 class="title is-4">По всем вопросам</h2>
    <div class="content">
        <ul class="fa-ul">
            <li><a href="https://t-do.ru/aalekseev0"><i class="fab fa-telegram"></i></a> <a href="https://vk.com/id487709651"><i class="fab fa-vk"></i></button></a> Александр Алексеев</li>
            <li><a href="https://t-do.ru/Absolute_Nikola"><i class="fab fa-telegram"></i></button></a> <a href="https://vk.com/absolute_nikola"><i class="fab fa-vk"></i></button></a> Николай Рулёв</li>
        </ul>
    </div>
</div>