<h1 class="title">Правила соревнований</h1>
<h2 class="title is-4">Цель соревнований</h2>
Цель соревнований - придумывание и реализация на одном из языков программирования стратегии для игры.
<br/>
Это необычная задача - в ней нет строго правильных или неправильных решений. Ваши программы будут играть друг против друга на одном поле.
В каждом поединке учавствуют 2 игрока. Вы сможете следить за тем, как происходят поединки через визуализатор.
В конце каждого поединка выявляется победитель.
<h2 class="title is-4">Дуэли</h2>
<h2 class="title is-4">Турниры</h2>
<h2 class="title is-4">Инструменты</h2>
<h2 class="title is-4">Поддерживаемые языки</h2>
<ul>
    <li>GNU CPP 17</li>
    <li>Python 3.7</li>
    <li>Java</li>
</ul>
<h2 class="title is-4">По всем вопросам</h2>
<ul>
    <li><a href="https://t-do.ru/aalekseev0">Александр Алексеев</a></li>
    <li><a href="https://t-do.ru/Absolute_Nikola">Николай Рулёв</a></li>
</ul>