<h1 class="title">
    Условие задачи
</h1>
Здесь должно быть условие, а пока здесь лишь это...
Конечно, мы усложним игру. А пока можно потестировать систему на прототипе.
<br/>
<br/>
Вы играете на поле 15x15. Игроки стартуют из противоположных углов. Каждый ход они могут перейти в соседнею по стороне клетку. Цель каждого - прожить как можно дольше, захватив как можно больше территории.
Клетка считается захваченной, если вы её посетили. Вы не можете посещать клетку, уже посещённую вами или вашим противником.<br/>

Формат взаимодействия:
<br/>
Сначала считайте строку, это будет "RED" или "BLUE". Если "RED", то вы ходите первым, иначе вторым.
<br/>
Потом считайте число - номер карты. Оно ничего не значит :). Надеюсь, что потом карт будет много.
<br/>
Далее на вход даются n, m - размерности поля.
<br/>
После этого, вам необходимо считывать поле n * m и выводить ответ - ['L', 'R', 'U', 'D']. Сделайте перенос строки. Также используйте flush.
Повторяйте считывание поля и вывод ответа в вечном цикле, мы сами попросим вас остановиться.

Поле - матрица из символов ASCII, разделённых пробелами.
<br/>
R - фишка красного<br/>
B - фишка синего<br/>
Q - хвост красного<br/>
W - хвост синего<br/>
<br/>
<br/>
Делайте как-то так: <a href="https://pastebin.com/kNmqerS5">код на c++ на pastebin</a>
<br/>
<br/>
Как быстро понять, что происходит: отправьте код из пастебина в систему, создайте дуэль на основе этой посылки, посмотрите визуализацию.<br/><br/>

Пример входных данных:
<br/>
RED<br/>
1<br/>
15 15<br/>
R . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . B<br/>
<br/>
<br/>
Q . . . . . . . . . . . . . .<br/>
R . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . . .<br/>
. . . . . . . . . . . . . B W<br/>
<br/>
<br/>


Пример выходных данных:
<br/>
D<br/>
R<br/>
<br/>