<h1 class="title">
    Условие задачи
</h1>

<div class="box" style="font-family: 'Courier New', monospace">
    Вы играете на поле. Игроки стартуют из противоположных углов. Каждый ход они могут перейти в соседнею по стороне клетку. Цель каждого - прожить как можно дольше, захватив как можно больше территории.
    Клетка считается захваченной, если вы её посетили. Вы не можете посещать клетку, уже посещённую вами или вашим противником, а также вы не можете посещать препятсвия.<br/>
    <br/>
    <h1 class="title is-6">
        Протокол взаимодействия
    </h1>
    Сначала считайте строку, это будет "RED" или "BLUE". Если "RED", то вы ходите первым, иначе вторым.
    <br/>
    Потом считайте число - номер карты, на которой вы играете.
    <br/>
    Далее на вход даются n, m - размерности поля.
    <br/>
    После этого, вам необходимо считывать поле n * m и выводить ответ - ['L', 'R', 'U', 'D']. Сделайте перенос строки. Также используйте flush.
    Повторяйте считывание поля и вывод ответа в вечном цикле, мы сами попросим вас остановиться.

    Поле - матрица из символов ASCII, разделённых пробелами.
    <br/>
    <br/>
    R - фишка красного<br/>
    B - фишка синего<br/>
    Q - хвост красного<br/>
    W - хвост синего<br/>
    X - препятствие<br/>
    <br/>

    <h1 class="title is-6">
        Примечание
    </h1>
    Отправьте пример кода в систему, создайте дуэль на основе этой посылки и посмотрите визуализацию. Так вы сможете быстрее освоить механику.<br/><br/>
</div>
<div class="columns">
    <div class="column">
        <h1 class="title is-5">
            Пример входных данных
        </h1>
        <div class="box example-input">
            <br/>
            RED<br/>
            1<br/>
            15 15<br/>
            R . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . B<br/>
            <br/>
            <br/>
            Q . . . . . . . . . . . . . .<br/>
            R . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . . .<br/>
            . . . . . . . . . . . . . B W<br/>
            <br/>
        </div>
    </div>
    <div class="column">
        <h1 class="title is-5">
            Пример выходных данных
        </h1>
        <div class="box example-input">
            <br/>
            D<br/>
            R<br/>
            <br/>
        </div>
    </div>
</div>

<h1 class="title is-5">
    Пример решения
</h1>
<div class="content box">
    <pre><code class="hljs">
#include &lt;iostream&gt;
#include &lt;random&gt;
#include &lt;time.h&gt;
using namespace std;

mt19937 rnd(time(0));

int get_rnd(int r) {
    return abs(int(rnd())) % r;
}

int level, n, m;
string player;

void make_move() {
    vector&lt;vector&lt;char&gt;&gt; field(n, vector&lt;char&gt;(m));
    int my_x = -1, my_y = -1;
    char my_ptr = player == &quot;RED&quot; ? 'R' : 'B';

    for (int i = 0; i &lt; n; i++) {
        for (int j = 0; j &lt; m; j++) {
            cin &gt;&gt; field[i][j];
            if (field[i][j] == my_ptr) {
                my_x = i;
                my_y = j;
            }
        }
    }

    int xc[] = {0, 1, 0, -1};
    int yc[] = {-1, 0, 1, 0};

    vector&lt;int&gt; possible_moves;
    char lit[] = {'L', 'D', 'R', 'U'};

    for (int move = 0; move &lt; 4; move++) {
        int nx = my_x + xc[move];
        int ny = my_y + yc[move];
        if (nx &gt;= 0 &amp;&amp; nx &lt; n &amp;&amp; ny &gt;= 0 &amp;&amp; ny &lt; m &amp;&amp; field[nx][ny] == '.') {
            possible_moves.push_back(move);
        }
    }

    cout &lt;&lt; lit[possible_moves[get_rnd(possible_moves.size())]] &lt;&lt; endl;
    cout.flush();
}
int main() {
    cin &gt;&gt; player &gt;&gt; level &gt;&gt; n &gt;&gt; m;
    while(true) {
        make_move();
    }
}
        </code></pre>
</div>
<script>
    $(document).ready(function() {
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    });
</script>