<h1 class="title">Посылка <%= @submission.id %></h1>
<div class="content">
  <pre><code class="hljs"><%= (current_user.submissions.find_by_id @needed_id)[:code] %></code></pre>
</div>
<script>
    $(document).ready(function() {
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    });
</script>