/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.section {
    padding: 10px;
    padding-bottom: 20px;
}

.board {
    height: 640px;
    width: 640px;
    /*margin: 20px;*/
    border: 15px solid #333;
}

.square {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.board_basic_cell {
    float: left;
    vertical-align: top;
    display: inline-block;
    background-color: #fdf5e6;
    border: 2px solid navajowhite;
}

.red {
    background-color: #ff3860;
    border-radius: 5px;
}

.red_tail {
    background-color: #ff3860;
}

.blue {
    background-color: #209cee;
    border-radius: 5px;
}

.blue_tail {
    background-color: #209cee;
}

.block {
    background-color: gray;
}

.empty {

}

.player_board {
    font-family: Courier New, monospace;
    font-size: 11px;
    color: black;
    text-align: center;
}
