<h1 class="title">Турниры</h1>

<div class="content">
  <ul>
    <% Tournament.all.each do |t| %>
      <li><a href=<%= tournament_show_url + "?id=#{t.id}" %>><%= t.name %></a> </li>
    <% end %>
  </ul>
</div>