<form action=<%= tournament_create_url %> method="post">
  name
  <input type="text" name="name">
  number of tries
  <input type="number" name="number_of_ch_per_pair">
  <input type="submit" name="Submit" value="Submit">
</form>