<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>AIForces</strong> by <a href="https://github.com/aalekseevx/">Aleksandr Alekseev</a> and <a href="https://github.com/AbsoluteNikola">Nikolay Rulev</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      <br/>

      Contribute on GitHub:
      <a href="https://github.com/aalekseevx/AIforces" class="button is-small">
            <span class="icon is-medium">
              <i class="fab fa-github"></i>
            </span>
        <span>AIForces</span>
      </a>

    </p>
  </div>
</footer>